{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
<header>
    <h1>Bem-vindo ao BlogShelved</h1>
</header>

<main>
    <section id="about-us">
        <h2>Sobre este site</h2>
        <p>O BlogShelved é mais do que um simples site de notícias e livros. Somos apaixonados por compartilhar conhecimento,
            explorar histórias fascinantes e criar uma comunidade que celebra a diversidade de pensamentos e ideias.</p>

        <p>Nossa missão é fornecer uma plataforma dinâmica onde você pode descobrir novos horizontes literários, participar de
            discussões envolventes e encontrar inspiração nas palavras.</p>

        <p>Explore, leia, e junte-se a nós nesta jornada de descoberta intelectual.</p>
    </section>
</main>


{% endblock content %}
