{% extends 'base.html' %}

{% block title %}
Página Inicial
{% endblock title %}

{% block content %}
<header>
    <h1>Bem-vindo ao BlogShelved</h1>
    <p>Sua fonte confiável para notícias, resenhas e descobertas literárias.</p>
</header>

<main>
    <p>Explore os posts mais populares e interessantes do momento.</p>

    <p>Fique atualizado com as últimas notícias e acontecimentos literários.</p>

    <p>Descubra novos livros através de nossas resenhas detalhadas e críticas honestas.</p>
</main>

<p>Explorando mundos através da leitura</p>



{% endblock content %}
