{% extends 'base.html' %}

{% block content %}

<h2>Todos os Livros</h2>
<section>
    <p>Muitos resultados? <a href="{% url 'books:search' %}">Buscar Livros</a></p>


    {% if perms.books.add_book %}
    <p>Não encontrou o livro? <a href="{% url 'books:create' %}">Adicionar Novo Livro</a></p>
{% endif%}
</section>
{% if book_list %}

<section class="lista-de-cards">
    {% for book in book_list %}
    <article class="card">
        <a href="{% url 'books:detail' book.id %}"> 
            <img src="{{ book.capa_url }}" alt="Capa do livro {{ book.name}}">
        </a> 
        <p>{{ book.name }} ({{ book.release_year }}) ({{book.categoria}})</p>
    </article>
    {% endfor %}
</section>

{% else %}
<p>Não foi encontrado nenhum livro.</p>
{% endif %}


{% if last_movie %}
<hr>
<h2>Último visto</h2>
<section class="lista-de-cards">
    <article class="small-card">
        <a href="{% url 'books:detail' last_book.id %}"><img src="{{ last_book.capa_url }}"
                alt="Capa do Livro {{ last_book.name}}"></a>
    </article>
</section>
{% endif %}

{% endblock content %}

